@using System.Security.Claims;
@model List<Project>
@{
    string userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}
<div class="card">
    <div class="card-body">
        <h5>My Projects</h5>
        <ul class="list-group">
            @foreach(Project project in Model)
            {
                <a class="text-decoration-none" asp-controller="Issue" asp-action="Index" asp-route-pid="@project.Id">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@project.Title</span>
                        @if(project.OwnerId == userId)
                        {
                           <span>Owner</span> 
                        }
                    </li>
                </a>           
            }            
        </ul>
    </div>
</div>
