@model IEnumerable<IssueTracker.Models.Issue>

@{
    ViewData["Title"] = "Index";
}

<h1>Project: @ViewBag.Project.Title</h1>

<p>Description: @ViewBag.Project.Desc</p>

<p>
    <a asp-action="Create" asp-route-pid="@ViewBag.Project.Id">Create New</a>
</p>
<div id="project-issues">
    <partial name="_IssueListPartial" model="Model" />
</div>

<div>
    <a asp-controller="Project" asp-action="Index" asp-route-pid="@ViewBag.Project.Id">Back to Project List</a>
</div>
