@using System.Security.Claims;
@using IssueTracker.Helpers;
@model IssueIndexViewModel

@{
}

<div>
    <h1 class="display-4">@Model.ProjectTitle</h1>
</div>


<div class="issue-list-container">
    @await Component.InvokeAsync("IssueTable", 
        new {
            projectId = Model.ProjectId,
            filter = Model.Filter,
            sortField = Model.SortField,
            sortDirection = Model.SortDirection
        })
</div>
