@model MyIssuesViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Issues";
}
<div id="issues-created-container">
    <partial name="_IssueListPartial" model='new IssueListViewModel { Title = "Created Issues", CreatorId = Model.UserId}'/>
</div>

<div id="issues-assigned-container">
    <partial name="_IssueListPartial" model='new IssueListViewModel { Title = "Assigned Issues", AssignedUserId = Model.UserId}'/>
</div>

@section scripts {
    <script>
        $(document).ready(function() {

            $('#issues-created-container').find('.sort-btn').click(function() {
                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("IssueList", "Issue")",
                    data: {sortOrder: $(this).attr('sort-order'), creatorId: @Model.UserId},
                    success: function(result) {  
                        $('#issues-container').find('.component-container').html(result);
                    }
                })
            });

            $('#issues-assigned-container').find('.sort-btn').click(function() {
                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("IssueList", "Issue")",
                    data: {sortOrder: $(this).attr('sort-order'), assignedId: @Model.UserId},
                    success: function(result) {  
                        $('#issues-container').find('.component-container').html(result);
                    }
                })
            });
        })
    </script>
}
