@model CreateProjectViewModel

@{
    ViewData["Title"] = "Create Project";
}
<form asp-action="Create">
    <div class="card">
        <div class="card-header">
            <span class="fs-2">Create Project</span>
        </div>
        <div class="card-body">
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Title" class="control-label"></label>
                <input asp-for="Project.Title" class="form-control" />
                <span asp-validation-for="Project.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Desc" class="control-label"></label>
                <textarea asp-for="Project.Desc" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Project.Desc" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a class="btn btn-primary" asp-action="Index">Back to List</a>
            <input type="submit" value="Create Project" class="btn btn-primary" />        
        </div>
    </div>
</form>
<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
