@model Project

@{
    ViewData["Title"] = "Project Details";
}


<div class="edit-project-container container p-0" asp-controller="Project" asp-action="Edit">
    <div class="my-2 mx-1 d-flex align-items-center justify-content-between">
        <span class="h6 text-muted">Project Details</span>
        <a class="btn btn-sm btn-primary" asp-controller="Project" asp-action="Index">To Project List</a>
    </div> 

    <div class="card box-shadow shadow">        
        <div class="card-body">
            <div>
                <div class="display-title-container">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="align-middle h5">Project Title</span>
                        </div>
                    </div>
                    
                    <span class="display-title fs-4 d-block my-2">@Model.Title</span>   
                </div>
            </div>
            
            
        </div>
    </div>

    <div class="card box-shadow shadow mt-3">
        <div class="card-body">
            <div class="display-desc-container">
                <span class="align-middle h5">Description</span>
                <span class="display-desc d-block my-2">@Model.Desc</span>
            </div>
        </div>
    </div>

    <div class="card box-shadow shadow mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-start align-items-center">
                <h5 class="align-middle">Assigned Users</h5>         
            </div>
            <div id="project-members-table">
                @await Component.InvokeAsync("UserTable", new {
                    filter = UserFilter.IN_PROJECT,
                    projectId = Model.Id
                })
            </div>
        </div>
    </div>
</div>
