@model List<Project>

@{
    ViewData["Title"] = "All Projects";
}


<div class="container p-0">
    <h2 class="text-center">Projects</h2>
</div>
<div class="project-list-container container p-0">
    @await Component.InvokeAsync("ProjectTable")
</div>


