@{
    ViewData["Title"] = "All Projects";
}


<div class="container p-0 d-flex align-items-center justify-content-between">
    <h2 class="text-center">Projects</h2>
    <a class="btn btn-primary" asp-action="Create">Add Project</a>
</div>

<div class="project-list-container container p-0">
    @await Component.InvokeAsync("ProjectTable")
</div>


