@model MyProjectsViewModel

@{
    ViewData["Title"] = "My Projects";
}

<h1>My Projects</h1>
@if(User.IsInRole(UserRoles.ADMIN) || User.IsInRole(UserRoles.PROJ_MNGR)) {
    <h3>Managed Projects</h3>
    <a class="btn btn-primary" asp-controller="Project" asp-action="Create">Create New Project</a>
    <div id="ManagedProjects">
        <partial name="_ListPartial" model="Model.ManagedProjects" />
    </div>
}


<h3>Assigned Projects</h3>
<div id="assignedProjects">
    <partial name="_ListPartial" model="Model.AssignedProjects" />
</div>


