@using System.Security.Claims;
@model List<IssueComment>
@{
    var user = User as ClaimsPrincipal;
    string userId = user.FindFirst(ClaimTypes.NameIdentifier).Value;
}

@if(Model.Count == 0)
{
    <p>There are no comments to display.</p>
}
else
{
    <div class="overflow-auto d-flex flex-column-reverse" style="height: fit-content; max-height: 50vh;">
        @foreach(IssueComment comment in Model) {
            <div class="border border-1 mb-1 px-2 py-1">
                <div class="d-flex justify-content-between align-items-center">
                    <h6>@comment.Owner <span class="text-muted fs-6">@DateTimeHelpers.GetSimpleElapsedTime(comment.CreatedDate)</span></h6>
                    @if(User.IsInRole(UserRoles.ADMIN) || comment.OwnerId == userId)
                    {
                        <i tag="delete-comment-btn" commentId="@comment.Id" role="button" class="text-muted bi bi-trash2-fill"></i>    
                    }
                            
                </div>
                <p>@comment.Text</p>
            </div>
        }
    </div>
}


