@using System.Security.Claims
@{
    ViewData["Title"] = "Welcome";
    string userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

<div class="col-lg-6">
     @await Component.InvokeAsync("ProjectTable", 
        new {
            simple = true,
            userId = userId
        })
</div>
